POSTGRES_DB=bublapi_dent
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me

RABBITMQ_USER=bublapi
RABBITMQ_PASSWORD=change_me

JWT_SECRET=change_me

MAIL_HOST=smtp.yandex.ru
MAIL_PORT=465
MAIL_USERNAME=
MAIL_PASSWORD=