POSTGRES_DB=bublapi_dent
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me

RABBITMQ_USER=bublapi
RABBITMQ_PASSWORD=change_me

JWT_SECRET=change_me

MAIL_HOST=change_me
MAIL_PORT=change_me
MAIL_USERNAME=change_me
MAIL_PASSWORD=change_me