POSTGRES_DB=bublapi_dent
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me

RABBITMQ_USER=bublapi
RABBITMQ_PASSWORD=change_me

JWT_SECRET=change_me

MAIL_HOST=smtp.timeweb.ru
MAIL_PORT=587
MAIL_USERNAME=change_me
MAIL_PASSWORD=change_me
MAIL_FROM=change_me
MAIL_REPLY_TO=change_me
